In [3]:
#count no.of digits in the given string
#input:"python123is456good789"
#output:9
s = input()
i = 0
count = 0
sum=0
while i<len(s):
    if s[i].isdigit():
        count += 1
        sum += int(s[i])
    i += 1
print("count is:",count,"sum of digits is:",sum)

python123is456good789
count is: 9 sum of digits is: 45

In [6]:
#for loop
#1.using range()
#2.using Iterable object
n = int(input("enter a number"))
for i in range(1,n+1,5):
    print(i,end=" ")

enter a number40
1 6 11 16 21 26 31 36

In [8]:
#input:python
#output:p y t h o n
s=input()
i=0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")

python
p y t h o n
p y t h o n
p y t h o n

## collection type data type:
### List:
1. for creating a list use
2. list are mutable
3. list are indexed
4. list are ordered
5. list allows duplicate values
6. It stores heterogenous values

In [11]:
list1 = [23,34,456,56.67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])

[1, 2, 3]
[456, 56.67]
gnirts
3

In [14]:
#manipulating a list
#1. adding elements
list1 = [34,45,56,67]
print("before adding elements",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("After adding elements",list1)

before adding elements [34, 45, 56, 67]
After adding elements [34, 45, 56, 67, 100, 200, 300]

In [15]:
list1.insert(1,400)
list1

[34, 400, 45, 56, 67, 100, 200, 300]

In [20]:
li=[2,4,7]
li.extend([1,2,3])
li

[2, 4, 7, 1, 2, 3]

In [17]:
#Removing elements from the list
#list1.pop(1)
#list1.remove()
#list1.clear()
print(list1)

[34, 56, 67, 100, 200, 300]

In [21]:
#Replacing a element
list1[5]=1000
list1

[34, 56, 67, 100, 200, 1000]

In [23]:
#sorting a list
list1 =[34,56,7,68,79,2,45,67]
list1.sort(reverse = True)
list1

[79, 68, 67, 56, 45, 34, 7, 2]

In [24]:
#Reversing a list
list1 = [453,4324,46,57,68]
list1.reverse()
list1

[68, 57, 46, 4324, 453]

In [25]:
list1.index(46)

2

In [26]:
list1.count(46)

1

In [28]:
#input : [2,4,5,7,8]
#output : [4,16,25,49,64]
l1 = [2,4,5,7,8]
l2 = []
l3 = []
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)
for i in l1:
    l3.append(i**2)
print(l3)

[4, 16, 25, 49, 64]
[4, 16, 25, 49, 64]

In [32]:
#create a list and accept values of the list at runtime
#and print sum of all the elements of the list
list1=[]
n=int(input())
for i in range(n):
    list1.append(int(input()))
    a=sum(list1)
print(a)

4
6

TypeError: 'int' object is not callable

In [33]:
tup1 = (23,54,5)
x,y,z = tup1
print(x,y,z)

23 54 5

### Dictionary:
#### syntax : {key1:value1,key2:value2,.....}
#### key:
1. key should be unique
2. key should be immutable-->

In [34]:
dict1 = {"name":"preeti","course":"python","address":"hyd"}
dict1["course"]

'python'

In [35]:
#replace values
dict1["course"] = "c programming"
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'address': 'hyd'}

In [36]:
#adding entry
dict1["college"] = "gitam"
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'address': 'hyd', 'college': 'gitam'}

In [37]:
#removing entry
del dict1["address"]
print(dict1)

{'name': 'preeti', 'course': 'c programming', 'college': 'gitam'}

## Function:
### def name_of_the_function(arg list):
####  statements
####  return

In [39]:
def add(x,y):
    return x+y
print(add(10,20))
print(add(100,200))

30
300

In [40]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x
print(cube(3))

27